* { 
	margin: 0;
	 padding: 0; 
	 box-sizing: border-box; 
}

p {
	color:blue,
	font-size: 14px;
}
.chatWrapper{
	width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

#form { 
	background: #000; 
	padding: 3px; 
	position: absolute; 
	bottom: 0; width: 30%;
}

#form input { 
	border: 0;
	 padding: 10px; 
	 width: 90%; 
	 margin-right: .5%; 
}
#form button { 
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}