* { 
	 margin: 0;
	 padding: 0; 
}


html, body, #app, #firstDiv {
	height:100%;
	width: 100%;
	position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#whole{
	display:flex;
	height: 100%;
	width: 100%;
}

.sidebar {
  flex-direction: column; 
  flex: .6; 
  background-color: lightgray;
  
}

#wordCanvasDisplay{
	flex-direction: row;
	flex: 2;
	height: 100%;
	width: 100%;
}

#timerWordDisplay{
	background-color: #00FFFF;
	border-radius: 5px;
	border: solid black 1px;
	text-align: center;
	flex-direction: column;
	flex: 1;
	min-height: 4em;
	max-height: 4em;
	margin: 0;
}

#draw-comp {
	margin: 0;
	border: solid black 2px;
	text-align: center;
	flex: 1;
	height: 100%;
	width: 100%;
}

.userBox{
	height: 50%;
  font-size: 1.2em;
  flex-direction: row;
  flex-grow: 1;
  background-color: lightgray;
}

.chatWrapper{
  display: flex;
  max-height: 30rem;
  width: 100%;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll; 
  padding-bottom: 3em;  
}

.chatBoxTitle{
	background-color: #00FFFF;
	border-radius: 5px;
	position: relative;
	flex-direction: column;
	flex-grow: 1;
	min-width: 25rem;
	max-width: 25rem;
	min-height: 1.5em;
	max-height: 1.5em;
	margin-bottom: 5px;
	text-align: center;
	color: white;
	box-shadow: 3px 3px #696969;
}

.userChatLog {
	display: flex;
	flex-flow: row-wrap;
	align-items: flex-start;
	margin-bottom: 10px;
	min-height: 51px;
	max-height: 51px;
	max-width: 400px;
}

.userChatLog .userPhoto{
	margin-top: 6px;
	margin-left: 5px;
	max-width: 40px;
	max-height: 40px;
	border-radius: 50%;
}

.userChatLog .chatMessage{
	width: 90%;
	min-width: 340px;
	max-width: 340px;
	padding: 7px;
	margin: 3px 8px 0;
	background: #1ddced;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
	box-shadow: 3px 3px #696969;
}

#form { 
	display:flex;
	background: #444; 
	padding: 0px; 
	position: absolute; 
	bottom: 0; 
	width: 30%;
	min-width: 396px;
	max-width: 396px;
	align-items:flex-end;
	max-height: 40px;
	border-radius: 5px;

}


#form input { 
	padding: 8px; 
	width: 90%; 
	max-width: 330px;
	border-radius: 5px;
}

#form button { 
	max-height: 35px;
	max-width: 46px;
	display: flex;
  overflow: hidden;
  background-color: #00FFFF;
  padding: 10px 32px;
  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 10px rgba(dark, .1);
}

#form button:hover{
	background-color: #00BFFF;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

.userInChat{
	color:black;
	text-decoration: underline;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}

#canvasColors{
	display: flex;
	position:absolute;
  bottom:0;
  right:0;
  height: 5.5em;
  width: 30em;
}

#changeColor {
	flex: .3;
	margin-left: auto;
  margin-right: auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.color {
	flex: 1;
	cursor: pointer;
	border-radius: 100%;
}

.red{
	background-color: red;
	flex: 1;
}

.red:hover{
	opacity: .5;
}

.black{
	background-color: black;
}

.black:hover{
	opacity: .5;
}

.yellow{
	background-color: yellow;
}

.yellow:hover{
	opacity: .5;
}

.blue{
	background-color: blue;
}

.blue:hover{
	opacity: .5;
}

