* { 
	margin: 0;
	 padding: 0; 
	 box-sizing: border-box; 
}

/*container for users and chats*/
.whole{
	display:flex;
}
.sidebar {

  display: flex;
  flex-direction: column; 
  flex: 1 0 10em; 
  background-color: lightgray;
  max-width: 400px;
}

.canvas{
	border: solid black 2px;
}

.users{
	flex:1;
    min-height:600px;
    background-color: yellow;
}




.chatWrapper{
	min-height: 400px;
	width: 100%;
    max-width: 800px;
    display: flex;
    border: solid black 2px;
   
}



#chatBoxTitle{
	background-color: lightblue;
	display: flex;
	flex-grow: 1;
	min-width: 396px;
}



#form { 
	background: #444; 
	padding: 3px; 
	position: absolute; 
	bottom: 0; 
	width: 30%;
	min-width: 400px;
	max-width: 400px;

}

#form input { 
	border: 0;
	padding: 10px; 
	width: 90%; 
	margin-right: .5%; 
	max-width: 347px
}
#form button { 
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px;
	min-width: 45px;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}