* { 
	margin: 0;
	 padding: 0; 
	 box-sizing: border-box; 
}

/*container for users and chats*/

#whole{
	display:flex;
	flex-direction: row;
}

.sidebar {
  flex-direction: row; 
  flex: 1 0 10em; 
  background-color: lightgray;
  max-width: 400px;
}

.canvas{
	border: dashed blue 2px;
	text-align: center;
	flex-grow: 1;

}

.users{
  height:550px;
  background-color: yellow;
}

.chatWrapper{
  height:355px;
  width: 100%
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 3px 3px #ccc;
  overflow-x: hidden;
  overflow-y: scroll;   
}

#chatBoxTitle{
	background-color: lightblue;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-width: 396px;
	min-height: 20px;
	max-height: 20px;
}

.userChatLog {
	display: flex;
	flex-flow: row-wrap;
	align-items: flex-start;
	margin-bottom: 10px;
	min-height: 51px;
	max-height: 51px
}

.userChatLog .userPhoto{
	min-width: 40px;
	min-height: 40px;
	background: black;
	border-radius: 50%;
}

.userChatLog .chatMessage{
	width: 90%;
	min-width: 350px;
	padding: 15px;
	margin: 3px 8px 0;
	background: #1ddced;
	border-radius: 10px;
	color: #fff;
	font-size: 18px;
}



#form { 
	background: #444; 
	padding: 3px; 
	position: absolute; 
	bottom: 0; 
	width: 30%;
	min-width: 400px;
	max-width: 400px;
	align-items:flex-end;
}

#form input { 
	border: 0;
	padding: 10px; 
	width: 90%; 
	margin-right: .5%; 
	max-width: 347px;
}

#form button { 
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px;
	min-width: 45px;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}

#draw-comp {
	border: dashed blue 2px;
	text-align: center;
	flex-grow: 1;
}